*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body{
  width: 800px;
  font-family: 'Merriweather Sans', sans-serif;
  background: #f1f6f9;
  color: #14274e;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid rgba(20, 79, 78, 0.2);
  box-shadow: 2px 2px 2px #14274e;
}

header{
  font-size: 26px;
  margin: 20px auto;
}

main {
  width: 100%;
  margin: 20px 0;
}

input {
  width: 87%;
  border: none;
  border-bottom: 1px solid rgba(20, 79, 78, 0.4);
  background: transparent;
  font-size: 16px;
  height: 30px;
}

button {
  height: 30px;
  width: 80px;
  background: rgba(20, 79, 78, 1);
  color: #f1f6f9;
  font-weight: 700;
  cursor: pointer;
  
}

button:hover {
  background: rgba(20, 79, 78, 0.8);
}

h3{
  font-size: 24px;
  margin: 10px auto;
}

img{
  border-radius: 50%;
}

#statistic {
  display: none;
}

#search {
  margin: 20px auto;
}

#results {
  display: flex;
  gap: 20px;
}

.lists {
  width: 380px;
  border: 1px solid rgba(20, 79, 78, 0.4);
}

.list {
  margin: 10px;
}

.user{
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  place-items: center;
}

#data{
  font-size: 12px;
  font-weight: 300;
}

.item {
  display: flex;
  font-size: 16px;
}

.item span {
  font-weight: 700;
  margin-bottom: 5px;
}