[submodule "Modulo-04/grades-app-igti"]
	path = Modulo-04/grades-app-igti
	url = https://github.com/nlnadialigia/grades-app-igti.git
[submodule "Modulo-04/grades-api-igti"]
	path = Modulo-04/grades-api-igti
	url = https://github.com/nlnadialigia/grades-api-igti.git
[submodule "Modulo-04/desafio/grades-api"]
	path = Modulo-04/desafio/grades-api
	url = https://github.com/nlnadialigia/grades-api-igti.git
[submodule "Modulo-04/desafio/grades-app"]
	path = Modulo-04/desafio/grades-app
	url = https://github.com/nlnadialigia/grades-app-igti.git
