body {
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

.country-container {
  display: flex;
}

.country {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add {
  border-radius: 2px;
  background-color: darkgreen;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  display: flex;
  place-content: center;
  cursor: pointer;
}

.list {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 10px;
}

.data {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0;
}
